a {
    text-decoration: none;
    color: black;
}
.btn:hover{
    background: #ffc34d;
    transition: 0.5s;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

#header-img {
    width: 100%;
    height: 40vh;
}

#reg-btn {
	margin-top: 30px;
	margin-left: 100px;
}

h2 {
	margin-top: 50px;
}

p {
	text-indent: 40px;
}

.btn {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav > li {
    margin-left: 20px;
    margin-right: 20px
}

.page-title {
    text-align: center;
}

.breadcrumb-item {
    font-size: 12px;
}

.container {
    width: 400px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 130px;
}

#copyright {
    background-color: #E5E7E9;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

#welcome-words {
    padding: 30px;
}

p {
    font-size: 18px;
}

.page-footer {
    padding: 30px;
    margin-top: 50px;
}


#subscribe-btn {
    background: #ffd480;
    font-size: 12px;
    margin-top: 5px;
}

#subscribe-btn:hover {
    background: #ffc34d;
}

#login-btn, #search-btn {
    background: #ffd480;
    border: none;
    color: black;
}

#login-btn:hover, #search-btn:hover{
    background: #ffc34d;
}

.post-title {
    color: black;
}

.post-title:hover {
    color: #ffc34d;
}

.post-preview > a {
    text-decoration: none;
}


#article_container {
    padding-top: 30px;
}

#article_date {
    color: dimgrey;
    font-size: 16px;
}

#article_add_form {
    margin-top: 50px;
}

#submit_btn {
    background: #e6e6e6;
}

#submit_btn:hover {
    background: orange;
}

.form-control:focus {
    border-color: #ffcc99;
    box-shadow: 0 1px 1px #ffcc99 inset, 0 0 8px #ffcc99;
    outline: 0 none;
}

#find_book_drpdwn {
    width: 250%;
    background: #f9f9f9;
    border-top: none;
}

.multi-column-dropdown {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	color: #333;
	white-space: normal;
}

.multi-column-dropdown li a:hover {
    background: #DCDCDC;
}

#cpp_book_pic {
    width: 100%;
    height: 100%;
    display: block;
}

#book_of_the_day > a{
    text-decoration: none;
}

#book_of_the_day {
    padding: 5% 10% 5% 10%;
    border-left: solid 0.5px #e6e6e6;
}

#fb-button:hover {
    background: #99ccff;
    border: solid #99ccff;
}

#close-btn {
    background: #ffc34d;
    border: none;
}

#close-btn:hover {
    background: dimgrey;
}

#unsubscribe-btn {
    border: none;
}

#unsubscribe-btn:hover {
    background: darkgrey;
}


/* Books */
.wrapper {
    display: flex;
    align-items: stretch;
    margin-bottom: 0px; 
}

#sidebar {
    height: 100%;
    padding: 25px;
    margin-bottom: 0;
    width: 300px;
    border: none;
    border-right: solid 0.5px lightgray;
    border-bottom: solid 0.5px lightgrey;
}

#sidebar-forum {
    height: 100%;
    padding: 25px;
    margin-bottom: 0;
    margin-top: 150px;
    width: 300px;
    border: none;
    border-right: solid 0.5px lightgray;
    border-bottom: solid 0.5px lightgrey;   
}

#headings {
    text-align: center;
    margin-top: 50px;
}

#sidebarCollapse {
    margin-top: 5px;
    border: none;
    background: #ffd480;
    color: black;
}

#sidebarCollapse:hover {
    background: #ffc34d;
}

#sidebar.active {
    margin-left: -300px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#price-range-slider::-webkit-slider-thumb, #size-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffc34d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #slider-div {
      border-bottom: none;
  }

  #items-table {
      width: 100%;
  }

  .card-img-top {
      width: 100%;
      height: 250px;
  }

  .item-info {
      width: 100%;
  }

  .item-author {
      text-decoration: none;
      color: black
  }

  .item-descpription {
      text-indent: 0px;
      color: #52527a;
      font-style: italic;
      font-size: 16px;
  }

  .item-title:hover {
      text-decoration: underline;
      color: black;
  }

  .item {
      margin-top: 15px;
      margin-bottom: 15px;
      border: solid 0.5px lightgrey;
      border-radius: 5px;
      transition: 0.2s;
      height: 280px;
  }

  .item:hover {
      transform: scale(1.05);
  }

  .buy-btn {
    background:#E6DDDD;
  }

  .item-pic {
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden;
  }

  .img-caption {
      width: 70%;
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }

  .img-container:hover .item-pic {
    opacity: 0.3;
  }

  .img-container:hover .img-caption {
      opacity: 1;
  }

  .text {
    background-color: #ffc34d;
    color: black;
    font-size: 16px;
    padding: 5px;
  }

  .text:hover {
      background: orange;
  }

  .checked {
      color: orange;
  }